/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Tailwind 기본 스타일 적용 */
@layer base {
  body {
    background-color: theme('colors.gray.100'); /* 기본 라이트 모드 배경 색상 */
    color: theme('colors.gray.800'); /* 기본 라이트 모드 텍스트 색상 */
  }
}

/* 다크 모드 스타일 */
@media (prefers-color-scheme: dark), .dark {
  body {
    background-color: theme('colors.gray.900'); /* 다크 모드 배경 색상 */
    color: theme('colors.gray.100'); /* 다크 모드 텍스트 색상 */
  }

  .card-front {
    background-color: theme('colors.gray.800'); /* 다크 모드 카드 앞면 배경 색상 */
  }

  .card-back {
    background-color: theme('colors.gray.600'); /* 다크 모드 카드 뒷면 배경 색상 */
  }
}
